{% extends 'blog/base.html' %}

{% block content %}

<div class="container">
    <h1>Login</h1>
    <div class="row">
        <div class="col text-white" >
            <form action="" method="POST">
                {% csrf_token %}
                
        
                {%for fm in form %}
                <div class="form-control">
                    {{fm.label_tag}}{{fm}}{{fm.errors|striptags}} <br>
                </div>
                {% endfor %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger">{{error}}</p>
                {% endfor %}
                {% endif %}
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
            {% if messages %}
            {%for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}">{{message}}</small>{% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content%}